:root {
    --text: #fff;
    --border: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
}

body {
    background: linear-gradient(130deg, #021230 0%, #000200 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: var(--text);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

#board {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 20px auto;
    border: 2px solid var(--border);
}

#board .row {
    width: 100%;
    height: 100px;
    position: relative;
}

.tile {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.tile-2 {
    background-color: #d8c0a7;
}

.tile-4 {
    background-color: #e9c480;
}

.tile-8 {
    background-color: #ee9f5b;
}

.tile-16 {
    background-color: #e67c43;
}

.tile-32 {
    background-color: #e45633;
}

.tile-64 {
    background-color: #ec411a;
}

.tile-128 {
    background-color: #e7bd3f;
}

.tile-256 {
    background-color: #dbaf1f;
}

.tile-512 {
    background-color: #d3a408;
}

.tile-1024 {
    background-color: #ffc400;
}

.tile-2048 {
    background-color: #5bed2e;
}

.mobile{
    display: none;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #109121;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    width: 80px;
    margin: 10px;
}

button:hover {
    background-color: #0d6e1a;
}

@media screen and (max-width: 1024px) {
    .mobile {
        display: block;
    }
}

.lr {
    display: flex;
    flex-direction: row;
}

.up,
.down,
.left,
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
}